<div class="elements---widgets---widget-12__13-234">
  <app-bgbg></app-bgbg>
  <span class="text-01__13-236">01</span>
  <span class="text-02__13-237">02</span>
  <span class="text-03__13-238">03</span>
  <span class="text-04__13-239">04</span>
  <span class="text-05__13-240">05</span>
  <span class="text-06__13-241">06</span>
  <span class="text-07__13-242">07</span>
  <div class="group__13-243">
    <div class="path__13-244">
      <svg
        width="326"
        height="74"
        viewBox="0 0 326 74"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M0 71.5H8.5L138 3L229 56.5L317 13H326"
          stroke="#FF3A29"
          stroke-width="4"
        />
      </svg>
    </div>
    <div class="path__13-245">
      <svg
        width="326"
        height="111"
        viewBox="0 0 326 111"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M0 58H11.5L71.5 105.5L149.5 26L170 105.5L229 14L293.5 62L318.5 2L326 2"
          stroke="#34B53A"
          stroke-width="4"
        />
      </svg>
    </div>
    <div class="path__13-246">
      <svg
        width="326"
        height="101"
        viewBox="0 0 326 101"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M0 70.5H10.5L78 41L138 97L148.5 37L229 2H326"
          stroke="#FFB200"
          stroke-width="4"
        />
      </svg>
    </div>
    <div class="path__13-247">
      <svg
        width="326"
        height="83"
        viewBox="0 0 326 83"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M0 81H12.5L69 17L138.5 70.5L174.5 4L236.5 58H326"
          stroke="#4339F2"
          stroke-width="4"
        />
      </svg>
    </div>
  </div>
  <app-elements-info></app-elements-info>
  <app-elements-info></app-elements-info>
  <app-elements-info></app-elements-info>
  <app-elements-info></app-elements-info>
  <app-icons-more-horizontal></app-icons-more-horizontal>
  <span class="text-text__13-253">Text</span>
</div>
