.elements---widgets---widget-12__13-234 {
  box-sizing: border-box;
  border-radius: 0px;
  background-color: #ffffff;
  width: 326px;
  height: 360px;
  position: relative;
}
.text-01__13-236 {
  color: #000000;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 20px;
  text-align: left;
  text-decoration: none;
  font-family: DM Sans;
  font-weight: 400;
  text-wrap: nowrap;
  width: 14px;
  height: 20px;
  top: 320px;
  left: 30px;
  position: absolute;
  display: flex;
}

.text-02__13-237 {
  color: #000000;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 20px;
  text-align: left;
  text-decoration: none;
  font-family: DM Sans;
  font-weight: 400;
  text-wrap: nowrap;
  width: 18px;
  height: 20px;
  top: 320px;
  left: 68px;
  position: absolute;
  display: flex;
}

.text-03__13-238 {
  color: #000000;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 20px;
  text-align: left;
  text-decoration: none;
  font-family: DM Sans;
  font-weight: 400;
  text-wrap: nowrap;
  width: 18px;
  height: 20px;
  top: 320px;
  left: 109px;
  position: absolute;
  display: flex;
}

.text-04__13-239 {
  color: #000000;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 20px;
  text-align: left;
  text-decoration: none;
  font-family: DM Sans;
  font-weight: 400;
  text-wrap: nowrap;
  width: 19px;
  height: 20px;
  top: 320px;
  left: 151px;
  position: absolute;
  display: flex;
}

.text-05__13-240 {
  color: #000000;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 20px;
  text-align: left;
  text-decoration: none;
  font-family: DM Sans;
  font-weight: 400;
  text-wrap: nowrap;
  width: 19px;
  height: 20px;
  top: 320px;
  left: 193px;
  position: absolute;
  display: flex;
}

.text-06__13-241 {
  color: #000000;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 20px;
  text-align: left;
  text-decoration: none;
  font-family: DM Sans;
  font-weight: 400;
  text-wrap: nowrap;
  width: 19px;
  height: 20px;
  top: 320px;
  left: 236px;
  position: absolute;
  display: flex;
}

.text-07__13-242 {
  color: #000000;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 20px;
  text-align: left;
  text-decoration: none;
  font-family: DM Sans;
  font-weight: 400;
  text-wrap: nowrap;
  width: 17px;
  height: 20px;
  top: 320px;
  left: 278px;
  position: absolute;
  display: flex;
}

.group__13-243 {
  width: 326px;
  height: 143px;
  top: 140px;
  left: 0px;
  position: absolute;
  display: flex;
}
.path__13-244 {
  display: flex;
}

.path__13-245 {
  display: flex;
  margin-left: -326px;
}

.path__13-246 {
  display: flex;
  margin-left: -326px;
}

.path__13-247 {
  display: flex;
  margin-left: -326px;
}

.text-text__13-253 {
  color: #000000;
  font-size: 22px;
  letter-spacing: 0px;
  text-align: left;
  text-decoration: none;
  font-family: DM Sans;
  font-weight: 500;
  text-wrap: nowrap;
  width: 44px;
  height: 29px;
  top: 30px;
  left: 30px;
  position: absolute;
  display: flex;
}
