.footer__7-3 {
    box-sizing: border-box;
    border-radius: 0px;
    background-color: #f5f5f7;
    width: 1920px;
    height: 890px;
    position: relative;
  }
  .div-ac-gf-content__2-170 {
    box-sizing: border-box;
    border-radius: 0px;
    width: 1024px;
    height: 890px;
    top: 0px;
    left: 448px;
    position: absolute;
    display: flex;
    position: relative;
  }
  .section---footnotes__2-171 {
    box-sizing: border-box;
    border-radius: 0px;
    border-bottom: 1px solid #00000028;
    width: 980px;
    height: 304px;
    top: 0px;
    left: 22px;
    position: absolute;
    display: flex;
    position: relative;
  }
  .text-list---item---1--trade-in-values-will-vary-based-on-the-condition--year--and-configuration-of-your-eligible-trade-in-device--not-all-devices-are-eligible-for-credit--you-must-be-at-least-18-years-old__2-172 {
    color: #0000008e;
    font-size: 11.8125px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    width: 980px;
    height: 96px;
    top: 17px;
    left: 0px;
    position: absolute;
    display: flex;
  }
  
  .text-list---item---available-in-the-u-s--on-__2-173 {
    font-size: 11.8125px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    width: 436px;
    height: 16px;
    top: 122.58999633789062px;
    left: 0px;
    position: absolute;
    display: flex;
  }
  
  .text-list---item---to-access-and-use-all-apple-card-features-and-products-available-only-to-apple-card-users--you-must-add-apple-card-to-wallet-on-an-iphone-or-ipad-that-supports-and-has-the__2-174 {
    color: #0000008e;
    font-size: 11.8125px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    width: 960px;
    height: 48px;
    top: 148.19000244140625px;
    left: 0px;
    position: absolute;
    display: flex;
  }
  
  .text-list---item---if-you-reside-in-the-u-s--territories--please-call-goldman-sachs-at-877-255-5923-with-questions-about-apple-card-__2-175 {
    color: #0000008e;
    font-size: 12px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    width: 629px;
    height: 16px;
    top: 205.77999877929688px;
    left: 0px;
    position: absolute;
    display: flex;
  }
  
  .text-list---item---learn-more-about-how-apple-card-applications-are-evaluated-at-__2-176 {
    font-size: 11.8125px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    width: 541px;
    height: 16px;
    top: 231.3800048828125px;
    left: 0px;
    position: absolute;
    display: flex;
  }
  
  .text-list---item---a-subscription-is-required-for-apple-tv--__2-177 {
    color: #0000008e;
    font-size: 12px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    width: 225px;
    height: 16px;
    top: 256.9700012207031px;
    left: 0px;
    position: absolute;
    display: flex;
  }
  
  .text-navigation---apple-directory---heading-3---shop-and-learn__2-178 {
    color: #000000e0;
    font-size: 12px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 600;
    width: 90px;
    height: 16px;
    top: 324.1600036621094px;
    left: 22px;
    position: absolute;
    display: flex;
  }
  
  .text-navigation---apple-directory---list---listitem---link---store__2-179 {
    color: #000000b7;
    font-size: 11.8125px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    width: 30px;
    height: 16px;
    top: 349.75px;
    left: 22px;
    position: absolute;
    display: flex;
  }
  
  .text-navigation---apple-directory---list---listitem---link---mac__2-180 {
    color: #000000b7;
    font-size: 11.8125px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    width: 24px;
    height: 16px;
    top: 375.3399963378906px;
    left: 22px;
    position: absolute;
    display: flex;
  }
  
  .text-navigation---apple-directory---list---listitem---link---ipad__2-181 {
    color: #000000b7;
    font-size: 11.8125px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    width: 24px;
    height: 16px;
    top: 400.94000244140625px;
    left: 22px;
    position: absolute;
    display: flex;
  }
  
  .text-navigation---apple-directory---list---listitem---link---iphone__2-182 {
    color: #000000b7;
    font-size: 11.8125px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    width: 38px;
    height: 16px;
    top: 426.5299987792969px;
    left: 22px;
    position: absolute;
    display: flex;
  }
  
  .text-navigation---apple-directory---list---listitem---link---watch__2-183 {
    color: #000000b7;
    font-size: 12px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    width: 35px;
    height: 16px;
    top: 452.1300048828125px;
    left: 22px;
    position: absolute;
    display: flex;
  }
  
  .text-navigation---apple-directory---list---listitem---link---vision__2-184 {
    color: #000000b7;
    font-size: 12px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    width: 34px;
    height: 16px;
    top: 477.7200012207031px;
    left: 22px;
    position: absolute;
    display: flex;
  }
  
  .text-navigation---apple-directory---list---listitem---link---airpods__2-185 {
    color: #000000b7;
    font-size: 11.8125px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    width: 43px;
    height: 16px;
    top: 503.30999755859375px;
    left: 22px;
    position: absolute;
    display: flex;
  }
  
  .text-navigation---apple-directory---list---listitem---link---tv---home__2-186 {
    color: #000000b7;
    font-size: 12px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    width: 63px;
    height: 16px;
    top: 528.9099731445312px;
    left: 22px;
    position: absolute;
    display: flex;
  }
  
  .text-navigation---apple-directory---list---listitem---link---airtag__2-187 {
    color: #000000b7;
    font-size: 11.8125px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    width: 35px;
    height: 16px;
    top: 554.5px;
    left: 22px;
    position: absolute;
    display: flex;
  }
  
  .text-navigation---apple-directory---list---listitem---link---accessories__2-188 {
    color: #000000b7;
    font-size: 11.8125px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    width: 67px;
    height: 16px;
    top: 580.0900268554688px;
    left: 22px;
    position: absolute;
    display: flex;
  }
  
  .text-navigation---apple-directory---list---listitem---link---gift-cards__2-189 {
    color: #000000b7;
    font-size: 11.8125px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    width: 56px;
    height: 16px;
    top: 605.6900024414062px;
    left: 22px;
    position: absolute;
    display: flex;
  }
  
  .text-navigation---apple-directory---heading-3---apple-wallet__2-190 {
    color: #000000e0;
    font-size: 12px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 600;
    width: 73px;
    height: 16px;
    top: 645.6900024414062px;
    left: 22px;
    position: absolute;
    display: flex;
  }
  
  .text-navigation---apple-directory---list---listitem---link---wallet__2-191 {
    color: #000000b7;
    font-size: 12px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    width: 34px;
    height: 16px;
    top: 671.280029296875px;
    left: 22px;
    position: absolute;
    display: flex;
  }
  
  .text-navigation---apple-directory---list---listitem---link---apple-card__2-192 {
    color: #000000b7;
    font-size: 11.8125px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    width: 62px;
    height: 16px;
    top: 696.8800048828125px;
    left: 22px;
    position: absolute;
    display: flex;
  }
  
  .text-navigation---apple-directory---list---listitem---link---apple-pay__2-193 {
    color: #000000b7;
    font-size: 11.8125px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    width: 55px;
    height: 16px;
    top: 722.469970703125px;
    left: 22px;
    position: absolute;
    display: flex;
  }
  
  .text-navigation---apple-directory---list---listitem---link---apple-cash__2-194 {
    color: #000000b7;
    font-size: 11.8125px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    width: 64px;
    height: 16px;
    top: 748.0599975585938px;
    left: 22px;
    position: absolute;
    display: flex;
  }
  
  .text-navigation---apple-directory---heading-3---account__2-195 {
    color: #000000e0;
    font-size: 12px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 600;
    width: 48px;
    height: 16px;
    top: 324.1600036621094px;
    left: 218px;
    position: absolute;
    display: flex;
  }
  
  .text-navigation---apple-directory---list---listitem---link---manage-your-apple-id__2-196 {
    color: #000000b7;
    font-size: 11.8125px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    width: 123px;
    height: 16px;
    top: 349.75px;
    left: 218px;
    position: absolute;
    display: flex;
  }
  
  .text-navigation---apple-directory---list---listitem---link---apple-store-account__2-197 {
    color: #000000b7;
    font-size: 11.8125px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    width: 114px;
    height: 16px;
    top: 375.3399963378906px;
    left: 218px;
    position: absolute;
    display: flex;
  }
  
  .text-navigation---apple-directory---list---listitem---link---icloud-com__2-198 {
    color: #000000b7;
    font-size: 12px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    width: 63px;
    height: 16px;
    top: 400.94000244140625px;
    left: 218px;
    position: absolute;
    display: flex;
  }
  
  .text-navigation---apple-directory---heading-3---entertainment__2-199 {
    color: #000000e0;
    font-size: 12px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 600;
    width: 83px;
    height: 16px;
    top: 440.94000244140625px;
    left: 218px;
    position: absolute;
    display: flex;
  }
  
  .text-navigation---apple-directory---list---listitem---link---apple-one__2-200 {
    color: #000000b7;
    font-size: 12px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    width: 58px;
    height: 16px;
    top: 466.5299987792969px;
    left: 218px;
    position: absolute;
    display: flex;
  }
  
  .text-navigation---apple-directory---list---listitem---link---apple-tv-__2-201 {
    color: #000000b7;
    font-size: 11.8125px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    width: 58px;
    height: 16px;
    top: 492.1300048828125px;
    left: 218px;
    position: absolute;
    display: flex;
  }
  
  .text-navigation---apple-directory---list---listitem---link---apple-music__2-202 {
    color: #000000b7;
    font-size: 12px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    width: 68px;
    height: 16px;
    top: 517.719970703125px;
    left: 218px;
    position: absolute;
    display: flex;
  }
  
  .text-navigation---apple-directory---list---listitem---link---apple-arcade__2-203 {
    color: #000000b7;
    font-size: 11.8125px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    width: 75px;
    height: 16px;
    top: 543.3099975585938px;
    left: 218px;
    position: absolute;
    display: flex;
  }
  
  .text-navigation---apple-directory---list---listitem---link---apple-fitness-__2-204 {
    color: #000000b7;
    font-size: 11.8125px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    width: 83px;
    height: 16px;
    top: 568.9099731445312px;
    left: 218px;
    position: absolute;
    display: flex;
  }
  
  .text-navigation---apple-directory---list---listitem---link---apple-news-__2-205 {
    color: #000000b7;
    font-size: 11.8125px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    width: 74px;
    height: 16px;
    top: 594.5px;
    left: 218px;
    position: absolute;
    display: flex;
  }
  
  .text-navigation---apple-directory---list---listitem---link---apple-podcasts__2-206 {
    color: #000000b7;
    font-size: 11.8125px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    width: 87px;
    height: 16px;
    top: 620.0900268554688px;
    left: 218px;
    position: absolute;
    display: flex;
  }
  
  .text-navigation---apple-directory---list---listitem---link---apple-books__2-207 {
    color: #000000b7;
    font-size: 11.8125px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    width: 70px;
    height: 16px;
    top: 645.6900024414062px;
    left: 218px;
    position: absolute;
    display: flex;
  }
  
  .text-navigation---apple-directory---list---listitem---link---app-store__2-208 {
    color: #000000b7;
    font-size: 11.8125px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    width: 56px;
    height: 16px;
    top: 671.280029296875px;
    left: 218px;
    position: absolute;
    display: flex;
  }
  
  .text-navigation---apple-directory---heading-3---apple-store__2-209 {
    color: #000000e0;
    font-size: 12px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 600;
    width: 68px;
    height: 16px;
    top: 324.1600036621094px;
    left: 414px;
    position: absolute;
    display: flex;
  }
  
  .text-navigation---apple-directory---list---listitem---link---find-a-store__2-210 {
    color: #000000b7;
    font-size: 11.8125px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    width: 67px;
    height: 16px;
    top: 349.75px;
    left: 414px;
    position: absolute;
    display: flex;
  }
  
  .text-navigation---apple-directory---list---listitem---link---genius-bar__2-211 {
    color: #000000b7;
    font-size: 12px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    width: 61px;
    height: 16px;
    top: 375.3399963378906px;
    left: 414px;
    position: absolute;
    display: flex;
  }
  
  .text-navigation---apple-directory---list---listitem---link---today-at-apple__2-212 {
    color: #000000b7;
    font-size: 11.8125px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    width: 83px;
    height: 16px;
    top: 400.94000244140625px;
    left: 414px;
    position: absolute;
    display: flex;
  }
  
  .text-navigation---apple-directory---list---listitem---link---apple-camp__2-213 {
    color: #000000b7;
    font-size: 11.8125px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    width: 68px;
    height: 16px;
    top: 426.5299987792969px;
    left: 414px;
    position: absolute;
    display: flex;
  }
  
  .text-navigation---apple-directory---list---listitem---link---apple-store-app__2-214 {
    color: #000000b7;
    font-size: 12px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    width: 91px;
    height: 16px;
    top: 452.1300048828125px;
    left: 414px;
    position: absolute;
    display: flex;
  }
  
  .text-navigation---apple-directory---list---listitem---link---certified-refurbished__2-215 {
    color: #000000b7;
    font-size: 11.8125px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    width: 118px;
    height: 16px;
    top: 477.7200012207031px;
    left: 414px;
    position: absolute;
    display: flex;
  }
  
  .text-navigation---apple-directory---list---listitem---link---apple-trade-in__2-216 {
    color: #000000b7;
    font-size: 11.8125px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    width: 80px;
    height: 16px;
    top: 503.30999755859375px;
    left: 414px;
    position: absolute;
    display: flex;
  }
  
  .text-navigation---apple-directory---list---listitem---link---financing__2-217 {
    color: #000000b7;
    font-size: 11.8125px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    width: 54px;
    height: 16px;
    top: 528.9099731445312px;
    left: 414px;
    position: absolute;
    display: flex;
  }
  
  .text-navigation---apple-directory---list---listitem---link---carrier-deals-at-apple__2-218 {
    color: #000000b7;
    font-size: 12px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    width: 122px;
    height: 16px;
    top: 554.5px;
    left: 414px;
    position: absolute;
    display: flex;
  }
  
  .text-navigation---apple-directory---list---listitem---link---order-status__2-219 {
    color: #000000b7;
    font-size: 12px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    width: 71px;
    height: 16px;
    top: 580.0900268554688px;
    left: 414px;
    position: absolute;
    display: flex;
  }
  
  .text-navigation---apple-directory---list---listitem---link---shopping-help__2-220 {
    color: #000000b7;
    font-size: 12px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    width: 82px;
    height: 16px;
    top: 605.6900024414062px;
    left: 414px;
    position: absolute;
    display: flex;
  }
  
  .text-navigation---apple-directory---heading-3---for-business__2-221 {
    color: #000000e0;
    font-size: 12px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 600;
    width: 74px;
    height: 16px;
    top: 324.1600036621094px;
    left: 610px;
    position: absolute;
    display: flex;
  }
  
  .text-navigation---apple-directory---list---listitem---link---apple-and-business__2-222 {
    color: #000000b7;
    font-size: 11.8125px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    width: 109px;
    height: 16px;
    top: 349.75px;
    left: 610px;
    position: absolute;
    display: flex;
  }
  
  .text-navigation---apple-directory---list---listitem---link---shop-for-business__2-223 {
    color: #000000b7;
    font-size: 12px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    width: 100px;
    height: 16px;
    top: 375.3399963378906px;
    left: 610px;
    position: absolute;
    display: flex;
  }
  
  .text-navigation---apple-directory---heading-3---for-education__2-224 {
    color: #000000e0;
    font-size: 12px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 600;
    width: 80px;
    height: 16px;
    top: 415.3399963378906px;
    left: 610px;
    position: absolute;
    display: flex;
  }
  
  .text-navigation---apple-directory---list---listitem---link---apple-and-education__2-225 {
    color: #000000b7;
    font-size: 11.8125px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    width: 115px;
    height: 16px;
    top: 440.94000244140625px;
    left: 610px;
    position: absolute;
    display: flex;
  }
  
  .text-navigation---apple-directory---list---listitem---link---shop-for-k-12__2-226 {
    color: #000000b7;
    font-size: 12px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    width: 75px;
    height: 16px;
    top: 466.5299987792969px;
    left: 610px;
    position: absolute;
    display: flex;
  }
  
  .text-navigation---apple-directory---list---listitem---link---shop-for-college__2-227 {
    color: #000000b7;
    font-size: 11.8125px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    width: 93px;
    height: 16px;
    top: 492.1300048828125px;
    left: 610px;
    position: absolute;
    display: flex;
  }
  
  .text-navigation---apple-directory---heading-3---for-healthcare__2-228 {
    color: #000000e0;
    font-size: 12px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 600;
    width: 86px;
    height: 16px;
    top: 532.1300048828125px;
    left: 610px;
    position: absolute;
    display: flex;
  }
  
  .text-navigation---apple-directory---list---listitem---link---apple-in-healthcare__2-229 {
    color: #000000b7;
    font-size: 11.8125px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    width: 109px;
    height: 16px;
    top: 557.719970703125px;
    left: 610px;
    position: absolute;
    display: flex;
  }
  
  .text-navigation---apple-directory---list---listitem---link---health-on-apple-watch__2-230 {
    color: #000000b7;
    font-size: 11.8125px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    width: 127px;
    height: 16px;
    top: 583.3099975585938px;
    left: 610px;
    position: absolute;
    display: flex;
  }
  
  .text-navigation---apple-directory---list---listitem---link---health-records-on-iphone__2-231 {
    color: #000000b7;
    font-size: 11.8125px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    width: 143px;
    height: 16px;
    top: 608.9099731445312px;
    left: 610px;
    position: absolute;
    display: flex;
  }
  
  .text-navigation---apple-directory---heading-3---for-government__2-232 {
    color: #000000e0;
    font-size: 12px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 600;
    width: 93px;
    height: 16px;
    top: 648.9099731445312px;
    left: 610px;
    position: absolute;
    display: flex;
  }
  
  .text-navigation---apple-directory---list---listitem---link---shop-for-government__2-233 {
    color: #000000b7;
    font-size: 11.8125px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    width: 119px;
    height: 16px;
    top: 674.5px;
    left: 610px;
    position: absolute;
    display: flex;
  }
  
  .text-navigation---apple-directory---list---listitem---link---shop-for-veterans-and-military__2-234 {
    color: #000000b7;
    font-size: 11.8125px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    width: 168px;
    height: 16px;
    top: 700.0900268554688px;
    left: 610px;
    position: absolute;
    display: flex;
  }
  
  .text-navigation---apple-directory---heading-3---apple-values__2-235 {
    color: #000000e0;
    font-size: 12px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 600;
    width: 75px;
    height: 16px;
    top: 324.1600036621094px;
    left: 806px;
    position: absolute;
    display: flex;
  }
  
  .text-navigation---apple-directory---list---listitem---link---accessibility__2-236 {
    color: #000000b7;
    font-size: 11.8125px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    width: 69px;
    height: 16px;
    top: 349.75px;
    left: 806px;
    position: absolute;
    display: flex;
  }
  
  .text-navigation---apple-directory---list---listitem---link---education__2-237 {
    color: #000000b7;
    font-size: 11.8125px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    width: 55px;
    height: 16px;
    top: 375.3399963378906px;
    left: 806px;
    position: absolute;
    display: flex;
  }
  
  .text-navigation---apple-directory---list---listitem---link---environment__2-238 {
    color: #000000b7;
    font-size: 11.8125px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    width: 69px;
    height: 16px;
    top: 400.94000244140625px;
    left: 806px;
    position: absolute;
    display: flex;
  }
  
  .text-navigation---apple-directory---list---listitem---link---inclusion-and-diversity__2-239 {
    color: #000000b7;
    font-size: 11.8125px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    width: 125px;
    height: 16px;
    top: 426.5299987792969px;
    left: 806px;
    position: absolute;
    display: flex;
  }
  
  .text-navigation---apple-directory---list---listitem---link---privacy__2-240 {
    color: #000000b7;
    font-size: 11.8125px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    width: 41px;
    height: 16px;
    top: 452.1300048828125px;
    left: 806px;
    position: absolute;
    display: flex;
  }
  
  .text-navigation---apple-directory---list---listitem---link---racial-equity-and-justice__2-241 {
    color: #000000b7;
    font-size: 11.8125px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    width: 138px;
    height: 16px;
    top: 477.7200012207031px;
    left: 806px;
    position: absolute;
    display: flex;
  }
  
  .text-navigation---apple-directory---list---listitem---link---supplier-responsibility__2-242 {
    color: #000000b7;
    font-size: 12px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    width: 126px;
    height: 16px;
    top: 503.30999755859375px;
    left: 806px;
    position: absolute;
    display: flex;
  }
  
  .text-navigation---apple-directory---heading-3---about-apple__2-243 {
    color: #000000e0;
    font-size: 12px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 600;
    width: 72px;
    height: 16px;
    top: 543.3099975585938px;
    left: 806px;
    position: absolute;
    display: flex;
  }
  
  .text-navigation---apple-directory---list---listitem---link---newsroom__2-244 {
    color: #000000b7;
    font-size: 11.8125px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    width: 59px;
    height: 16px;
    top: 568.9099731445312px;
    left: 806px;
    position: absolute;
    display: flex;
  }
  
  .text-navigation---apple-directory---list---listitem---link---apple-leadership__2-245 {
    color: #000000b7;
    font-size: 11.8125px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    width: 97px;
    height: 16px;
    top: 594.5px;
    left: 806px;
    position: absolute;
    display: flex;
  }
  
  .text-navigation---apple-directory---list---listitem---link---career-opportunities__2-246 {
    color: #000000b7;
    font-size: 11.8125px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    width: 117px;
    height: 16px;
    top: 620.0900268554688px;
    left: 806px;
    position: absolute;
    display: flex;
  }
  
  .text-navigation---apple-directory---list---listitem---link---investors__2-247 {
    color: #000000b7;
    font-size: 11.8125px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    width: 51px;
    height: 16px;
    top: 645.6900024414062px;
    left: 806px;
    position: absolute;
    display: flex;
  }
  
  .text-navigation---apple-directory---list---listitem---link---ethics---compliance__2-248 {
    color: #000000b7;
    font-size: 12px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    width: 114px;
    height: 16px;
    top: 671.280029296875px;
    left: 806px;
    position: absolute;
    display: flex;
  }
  
  .text-navigation---apple-directory---list---listitem---link---events__2-249 {
    color: #000000b7;
    font-size: 11.8125px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    width: 37px;
    height: 16px;
    top: 696.8800048828125px;
    left: 806px;
    position: absolute;
    display: flex;
  }
  
  .text-navigation---apple-directory---list---listitem---link---contact-apple__2-250 {
    color: #000000b7;
    font-size: 11.8125px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    width: 80px;
    height: 16px;
    top: 722.469970703125px;
    left: 806px;
    position: absolute;
    display: flex;
  }
  
  .section__2-251 {
    box-sizing: border-box;
    border-radius: 0px;
    border-bottom: 1px solid #00000028;
    width: 980px;
    height: 36px;
    top: 801.0599975585938px;
    left: 22px;
    position: absolute;
    display: flex;
    position: relative;
  }
  .text-more-ways-to-shop--find-an-apple-store-or-other-retailer-near-you--or-call-1-800-my-apple-__2-252 {
    font-size: 11.8125px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    width: 507px;
    height: 16px;
    top: 0px;
    left: 0px;
    position: absolute;
    display: flex;
  }
  
  .text-section---copyright---2024-apple-inc--all-rights-reserved-__2-253 {
    color: #0000008e;
    font-size: 12px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    width: 267px;
    height: 16px;
    top: 855.0599975585938px;
    left: 22px;
    position: absolute;
    display: flex;
  }
  
  .text-section---list---listitem---link---privacy-policy__2-254 {
    color: #000000b7;
    font-size: 11.8125px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    width: 77px;
    height: 16px;
    top: 855.0599975585938px;
    left: 318.5199890136719px;
    position: absolute;
    display: flex;
  }
  
  .section---list---listitem__2-255 {
    top: 858.0599975585938px;
    left: 404.2699890136719px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .text-section---list---listitem---link---terms-of-use__2-256 {
    color: #000000b7;
    font-size: 11.8125px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    width: 74px;
    height: 16px;
    top: 855.0599975585938px;
    left: 413.5299987792969px;
    position: absolute;
    display: flex;
  }
  
  .section---list---listitem__2-257 {
    top: 858.0599975585938px;
    left: 495.9700012207031px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .text-section---list---listitem---link---sales-and-refunds__2-258 {
    color: #000000b7;
    font-size: 11.8125px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    width: 103px;
    height: 16px;
    top: 855.0599975585938px;
    left: 505.2300109863281px;
    position: absolute;
    display: flex;
  }
  
  .section---list---listitem__2-259 {
    top: 858.0599975585938px;
    left: 616.9099731445312px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .text-section---list---listitem---link---legal__2-260 {
    color: #000000b7;
    font-size: 11.8125px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    width: 30px;
    height: 16px;
    top: 855.0599975585938px;
    left: 626.1699829101562px;
    position: absolute;
    display: flex;
  }
  
  .section---list---listitem__2-261 {
    top: 858.0599975585938px;
    left: 664.9199829101562px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .text-section---list---listitem---link---site-map__2-262 {
    color: #000000b7;
    font-size: 11.8125px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    width: 49px;
    height: 16px;
    top: 855.0599975585938px;
    left: 674.1900024414062px;
    position: absolute;
    display: flex;
  }
  
  .text-section---link---united-states--choose-your-country-or-region---united-states__2-263 {
    color: #000000b7;
    font-size: 11.8125px;
    letter-spacing: -0.12px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    width: 75px;
    height: 16px;
    top: 855.0599975585938px;
    left: 926.8300170898438px;
    position: absolute;
    display: flex;
  }
  