<div class="footer__7-3">
    <div class="div-ac-gf-content__2-170">
      <div class="section---footnotes__2-171">
        <span
          class="text-list---item---1--trade-in-values-will-vary-based-on-the-condition--year--and-configuration-of-your-eligible-trade-in-device--not-all-devices-are-eligible-for-credit--you-must-be-at-least-18-years-old__2-172"
          >1. Trade-in values will vary based on the condition, year, and
          configuration of your eligible trade-in device. Not all devices are
          eligible for credit. You must be at least 18 years old to be eligible to
          trade in for credit or for an Apple Gift Card. Trade-in value may be
          applied toward qualifying new device purchase, or added to an
          Apple Gift Card. Actual value awarded is based on receipt of a
          qualifying device matching the description provided when estimate was
          made. Sales tax may be assessed on full value of a new device purchase.
          In-store trade-in requires presentation of a valid photo ID (local law
          may require saving this information). Offer may not be available in all
          stores, and may vary between in-store and online trade-in. Some stores
          may have additional requirements. Apple or its trade-in partners reserve
          the right to refuse or limit quantity of any trade-in transaction for
          any reason. More details are available from Apple’s trade-in partner for
          trade-in and recycling of eligible devices. Restrictions and limitations
          may apply.</span
        >
        <span class="text-list---item---available-in-the-u-s--on-__2-173"
          >Available in the U.S. on apple.com, in the Apple Store app, and at
          Apple Stores.</span
        >
        <span
          class="text-list---item---to-access-and-use-all-apple-card-features-and-products-available-only-to-apple-card-users--you-must-add-apple-card-to-wallet-on-an-iphone-or-ipad-that-supports-and-has-the__2-174"
          >To access and use all Apple Card features and products available only
          to Apple Card users, you must add Apple Card to Wallet on an iPhone or
          iPad that supports and has the latest version of iOS or iPadOS.
          Apple Card is subject to credit approval, available only for qualifying
          applicants in the United States, and issued by Goldman Sachs Bank USA,
          Salt Lake City Branch.</span
        >
        <span
          class="text-list---item---if-you-reside-in-the-u-s--territories--please-call-goldman-sachs-at-877-255-5923-with-questions-about-apple-card-__2-175"
          >If you reside in the U.S. territories, please call Goldman Sachs at
          877-255-5923 with questions about Apple Card.</span
        >
        <span
          class="text-list---item---learn-more-about-how-apple-card-applications-are-evaluated-at-__2-176"
          >Learn more about how Apple Card applications are evaluated at
          support.apple.com/kb/HT209218.</span
        >
        <span
          class="text-list---item---a-subscription-is-required-for-apple-tv--__2-177"
          >A subscription is required for Apple TV+.</span
        >
      </div>
      <span
        class="text-navigation---apple-directory---heading-3---shop-and-learn__2-178"
        >Shop and Learn</span
      >
      <span
        class="text-navigation---apple-directory---list---listitem---link---store__2-179"
        >Store</span
      >
      <span
        class="text-navigation---apple-directory---list---listitem---link---mac__2-180"
        >Mac</span
      >
      <span
        class="text-navigation---apple-directory---list---listitem---link---ipad__2-181"
        >iPad</span
      >
      <span
        class="text-navigation---apple-directory---list---listitem---link---iphone__2-182"
        >iPhone</span
      >
      <span
        class="text-navigation---apple-directory---list---listitem---link---watch__2-183"
        >Watch</span
      >
      <span
        class="text-navigation---apple-directory---list---listitem---link---vision__2-184"
        >Vision</span
      >
      <span
        class="text-navigation---apple-directory---list---listitem---link---airpods__2-185"
        >AirPods</span
      >
      <span
        class="text-navigation---apple-directory---list---listitem---link---tv---home__2-186"
        >TV & Home</span
      >
      <span
        class="text-navigation---apple-directory---list---listitem---link---airtag__2-187"
        >AirTag</span
      >
      <span
        class="text-navigation---apple-directory---list---listitem---link---accessories__2-188"
        >Accessories</span
      >
      <span
        class="text-navigation---apple-directory---list---listitem---link---gift-cards__2-189"
        >Gift Cards</span
      >
      <span
        class="text-navigation---apple-directory---heading-3---apple-wallet__2-190"
        >Apple Wallet</span
      >
      <span
        class="text-navigation---apple-directory---list---listitem---link---wallet__2-191"
        >Wallet</span
      >
      <span
        class="text-navigation---apple-directory---list---listitem---link---apple-card__2-192"
        >Apple Card</span
      >
      <span
        class="text-navigation---apple-directory---list---listitem---link---apple-pay__2-193"
        >Apple Pay</span
      >
      <span
        class="text-navigation---apple-directory---list---listitem---link---apple-cash__2-194"
        >Apple Cash</span
      >
      <span class="text-navigation---apple-directory---heading-3---account__2-195"
        >Account</span
      >
      <span
        class="text-navigation---apple-directory---list---listitem---link---manage-your-apple-id__2-196"
        >Manage Your Apple ID</span
      >
      <span
        class="text-navigation---apple-directory---list---listitem---link---apple-store-account__2-197"
        >Apple Store Account</span
      >
      <span
        class="text-navigation---apple-directory---list---listitem---link---icloud-com__2-198"
        >iCloud.com</span
      >
      <span
        class="text-navigation---apple-directory---heading-3---entertainment__2-199"
        >Entertainment</span
      >
      <span
        class="text-navigation---apple-directory---list---listitem---link---apple-one__2-200"
        >Apple One</span
      >
      <span
        class="text-navigation---apple-directory---list---listitem---link---apple-tv-__2-201"
        >Apple TV+</span
      >
      <span
        class="text-navigation---apple-directory---list---listitem---link---apple-music__2-202"
        >Apple Music</span
      >
      <span
        class="text-navigation---apple-directory---list---listitem---link---apple-arcade__2-203"
        >Apple Arcade</span
      >
      <span
        class="text-navigation---apple-directory---list---listitem---link---apple-fitness-__2-204"
        >Apple Fitness+</span
      >
      <span
        class="text-navigation---apple-directory---list---listitem---link---apple-news-__2-205"
        >Apple News+</span
      >
      <span
        class="text-navigation---apple-directory---list---listitem---link---apple-podcasts__2-206"
        >Apple Podcasts</span
      >
      <span
        class="text-navigation---apple-directory---list---listitem---link---apple-books__2-207"
        >Apple Books</span
      >
      <span
        class="text-navigation---apple-directory---list---listitem---link---app-store__2-208"
        >App Store</span
      >
      <span
        class="text-navigation---apple-directory---heading-3---apple-store__2-209"
        >Apple Store</span
      >
      <span
        class="text-navigation---apple-directory---list---listitem---link---find-a-store__2-210"
        >Find a Store</span
      >
      <span
        class="text-navigation---apple-directory---list---listitem---link---genius-bar__2-211"
        >Genius Bar</span
      >
      <span
        class="text-navigation---apple-directory---list---listitem---link---today-at-apple__2-212"
        >Today at Apple</span
      >
      <span
        class="text-navigation---apple-directory---list---listitem---link---apple-camp__2-213"
        >Apple Camp</span
      >
      <span
        class="text-navigation---apple-directory---list---listitem---link---apple-store-app__2-214"
        >Apple Store App</span
      >
      <span
        class="text-navigation---apple-directory---list---listitem---link---certified-refurbished__2-215"
        >Certified Refurbished</span
      >
      <span
        class="text-navigation---apple-directory---list---listitem---link---apple-trade-in__2-216"
        >Apple Trade In</span
      >
      <span
        class="text-navigation---apple-directory---list---listitem---link---financing__2-217"
        >Financing</span
      >
      <span
        class="text-navigation---apple-directory---list---listitem---link---carrier-deals-at-apple__2-218"
        >Carrier Deals at Apple</span
      >
      <span
        class="text-navigation---apple-directory---list---listitem---link---order-status__2-219"
        >Order Status</span
      >
      <span
        class="text-navigation---apple-directory---list---listitem---link---shopping-help__2-220"
        >Shopping Help</span
      >
      <span
        class="text-navigation---apple-directory---heading-3---for-business__2-221"
        >For Business</span
      >
      <span
        class="text-navigation---apple-directory---list---listitem---link---apple-and-business__2-222"
        >Apple and Business</span
      >
      <span
        class="text-navigation---apple-directory---list---listitem---link---shop-for-business__2-223"
        >Shop for Business</span
      >
      <span
        class="text-navigation---apple-directory---heading-3---for-education__2-224"
        >For Education</span
      >
      <span
        class="text-navigation---apple-directory---list---listitem---link---apple-and-education__2-225"
        >Apple and Education</span
      >
      <span
        class="text-navigation---apple-directory---list---listitem---link---shop-for-k-12__2-226"
        >Shop for K-12</span
      >
      <span
        class="text-navigation---apple-directory---list---listitem---link---shop-for-college__2-227"
        >Shop for College</span
      >
      <span
        class="text-navigation---apple-directory---heading-3---for-healthcare__2-228"
        >For Healthcare</span
      >
      <span
        class="text-navigation---apple-directory---list---listitem---link---apple-in-healthcare__2-229"
        >Apple in Healthcare</span
      >
      <span
        class="text-navigation---apple-directory---list---listitem---link---health-on-apple-watch__2-230"
        >Health on Apple Watch</span
      >
      <span
        class="text-navigation---apple-directory---list---listitem---link---health-records-on-iphone__2-231"
        >Health Records on iPhone</span
      >
      <span
        class="text-navigation---apple-directory---heading-3---for-government__2-232"
        >For Government</span
      >
      <span
        class="text-navigation---apple-directory---list---listitem---link---shop-for-government__2-233"
        >Shop for Government</span
      >
      <span
        class="text-navigation---apple-directory---list---listitem---link---shop-for-veterans-and-military__2-234"
        >Shop for Veterans and Military</span
      >
      <span
        class="text-navigation---apple-directory---heading-3---apple-values__2-235"
        >Apple Values</span
      >
      <span
        class="text-navigation---apple-directory---list---listitem---link---accessibility__2-236"
        >Accessibility</span
      >
      <span
        class="text-navigation---apple-directory---list---listitem---link---education__2-237"
        >Education</span
      >
      <span
        class="text-navigation---apple-directory---list---listitem---link---environment__2-238"
        >Environment</span
      >
      <span
        class="text-navigation---apple-directory---list---listitem---link---inclusion-and-diversity__2-239"
        >Inclusion and Diversity</span
      >
      <span
        class="text-navigation---apple-directory---list---listitem---link---privacy__2-240"
        >Privacy</span
      >
      <span
        class="text-navigation---apple-directory---list---listitem---link---racial-equity-and-justice__2-241"
        >Racial Equity and Justice</span
      >
      <span
        class="text-navigation---apple-directory---list---listitem---link---supplier-responsibility__2-242"
        >Supplier Responsibility</span
      >
      <span
        class="text-navigation---apple-directory---heading-3---about-apple__2-243"
        >About Apple</span
      >
      <span
        class="text-navigation---apple-directory---list---listitem---link---newsroom__2-244"
        >Newsroom</span
      >
      <span
        class="text-navigation---apple-directory---list---listitem---link---apple-leadership__2-245"
        >Apple Leadership</span
      >
      <span
        class="text-navigation---apple-directory---list---listitem---link---career-opportunities__2-246"
        >Career Opportunities</span
      >
      <span
        class="text-navigation---apple-directory---list---listitem---link---investors__2-247"
        >Investors</span
      >
      <span
        class="text-navigation---apple-directory---list---listitem---link---ethics---compliance__2-248"
        >Ethics & Compliance</span
      >
      <span
        class="text-navigation---apple-directory---list---listitem---link---events__2-249"
        >Events</span
      >
      <span
        class="text-navigation---apple-directory---list---listitem---link---contact-apple__2-250"
        >Contact Apple</span
      >
      <div class="section__2-251">
        <span
          class="text-more-ways-to-shop--find-an-apple-store-or-other-retailer-near-you--or-call-1-800-my-apple-__2-252"
          >More ways to shop: Find an Apple Store or other retailer near you. Or
          call 1-800-MY-APPLE.</span
        >
      </div>
      <span
        class="text-section---copyright---2024-apple-inc--all-rights-reserved-__2-253"
        >Copyright © 2024 Apple Inc. All rights reserved.</span
      >
      <span class="text-section---list---listitem---link---privacy-policy__2-254"
        >Privacy Policy</span
      >
      <div class="section---list---listitem__2-255">
        <svg
          width="2"
          height="11"
          viewBox="0 0 2 11"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect
            x="0.269989"
            y="0.310059"
            width="1"
            height="10"
            fill="black"
            fill-opacity="0.48"
          />
        </svg>
      </div>
      <span class="text-section---list---listitem---link---terms-of-use__2-256"
        >Terms of Use</span
      >
      <div class="section---list---listitem__2-257">
        <svg
          width="2"
          height="11"
          viewBox="0 0 2 11"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect
            x="0.970001"
            y="0.310059"
            width="1"
            height="10"
            fill="black"
            fill-opacity="0.48"
          />
        </svg>
      </div>
      <span
        class="text-section---list---listitem---link---sales-and-refunds__2-258"
        >Sales and Refunds</span
      >
      <div class="section---list---listitem__2-259">
        <svg
          width="2"
          height="11"
          viewBox="0 0 2 11"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect
            x="0.909973"
            y="0.310059"
            width="1"
            height="10"
            fill="black"
            fill-opacity="0.48"
          />
        </svg>
      </div>
      <span class="text-section---list---listitem---link---legal__2-260"
        >Legal</span
      >
      <div class="section---list---listitem__2-261">
        <svg
          width="2"
          height="11"
          viewBox="0 0 2 11"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect
            x="0.919983"
            y="0.310059"
            width="1"
            height="10"
            fill="black"
            fill-opacity="0.48"
          />
        </svg>
      </div>
      <span class="text-section---list---listitem---link---site-map__2-262"
        >Site Map</span
      >
      <span
        class="text-section---link---united-states--choose-your-country-or-region---united-states__2-263"
        >United States</span
      >
    </div>
  </div>
  