.icons---calendar__13-29 {
  box-sizing: border-box;
  border-radius: 0px;
  width: 24px;
  height: 24px;
  position: relative;
}
.color__13-30 {
  top: 2px;
  left: 3px;
  position: absolute;
  display: flex;
  display: flex;
}
.union__13-31 {
  display: flex;
}
.path__13-32 {
  display: flex;
}

.path__13-33 {
  display: flex;
}

.path__13-34 {
  display: flex;
}

.path__13-35 {
  display: flex;
}

.path__13-36 {
  display: flex;
}
