.icons---pie-chart__13-20 {
  box-sizing: border-box;
  border-radius: 0px;
  width: 24px;
  height: 24px;
  position: relative;
}
.color__13-21 {
  top: 2px;
  left: 2.0002999305725098px;
  position: absolute;
  display: flex;
  display: flex;
}
.fill-1018__13-22 {
  display: flex;
}

.path__13-23 {
  display: flex;
}

.path__13-24 {
  display: flex;
}
