.icons---more---horizontal__13-147 {
  box-sizing: border-box;
  border-radius: 0px;
  width: 24px;
  height: 24px;
  position: relative;
}
.color__13-148 {
  top: 10px;
  left: 3px;
  position: absolute;
  display: flex;
  display: flex;
}
.fill-781__13-149 {
  display: flex;
}

.fill-783__13-150 {
  display: flex;
}

.fill-785__13-151 {
  display: flex;
}
