.icons---activity__13-43 {
  box-sizing: border-box;
  border-radius: 0px;
  width: 24px;
  height: 24px;
  position: relative;
}
.color__13-44 {
  top: 3.998854637145996px;
  left: 2.0000998973846436px;
  position: absolute;
  display: flex;
  display: flex;
}
