<div class="elements---widgets---widget-2__13-208">


  <div
  style="display: flex; justify-content: space-between; align-items: center"
>
  <div class="widgetText">Text</div>
  <app-icons-more-horizontal></app-icons-more-horizontal>

</div>

<app-elements-info></app-elements-info>


  <div style="    height: inherit;
  width: auto;">
    <div class="rectangle__13-213">
      <svg
        width="13"
        height="154"
        viewBox="0 0 13 154"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect width="13" height="154" rx="6.5" fill="#FFB200" />
      </svg>
    </div>
    <div class="rectangle__13-214">
      <svg
        width="13"
        height="218"
        viewBox="0 0 13 218"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect width="13" height="218" rx="6.5" fill="#FFB200" />
      </svg>
    </div>
    <div class="rectangle__13-215">
      <svg
        width="13"
        height="127"
        viewBox="0 0 13 127"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect width="13" height="127" rx="6.5" fill="#FFB200" />
      </svg>
    </div>
    <div class="rectangle__13-216">
      <svg
        width="13"
        height="161"
        viewBox="0 0 13 161"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect width="13" height="161" rx="6.5" fill="#FFB200" />
      </svg>
    </div>
    <div class="rectangle__13-217">
      <svg
        width="13"
        height="205"
        viewBox="0 0 13 205"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect width="13" height="205" rx="6.5" fill="#FFB200" />
      </svg>
    </div>
    <div class="rectangle__13-218">
      <svg
        width="13"
        height="94"
        viewBox="0 0 13 94"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect width="13" height="94" rx="6.5" fill="#FFB200" />
      </svg>
    </div>
    <div class="rectangle__13-219">
      <svg
        width="13"
        height="232"
        viewBox="0 0 13 232"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect width="13" height="232" rx="6.5" fill="#FFB200" />
      </svg>
    </div>
    <div class="rectangle__13-220">
      <svg
        width="13"
        height="185"
        viewBox="0 0 13 185"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect width="13" height="185" rx="6.5" fill="#FFB200" />
      </svg>
    </div>
    <div class="rectangle__13-221">
      <svg
        width="13"
        height="145"
        viewBox="0 0 13 145"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect width="13" height="145" rx="6.5" fill="#FFB200" />
      </svg>
    </div>
    <div class="rectangle__13-222">
      <svg
        width="13"
        height="207"
        viewBox="0 0 13 207"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect width="13" height="207" rx="6.5" fill="#FFB200" />
      </svg>
    </div>
    <div class="rectangle__13-223">
      <svg
        width="13"
        height="125"
        viewBox="0 0 13 125"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect width="13" height="125" rx="6.5" fill="#FFB200" />
      </svg>
    </div>
    <div class="rectangle__13-224">
      <svg
        width="13"
        height="222"
        viewBox="0 0 13 222"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect width="13" height="222" rx="6.5" fill="#FFB200" />
      </svg>
    </div>
  </div><div>

