.elements---widgets---widget-2__13-208 {
  box-sizing: border-box;
  border-radius: 0px;
  background-color: #ffffff;
  width: 326px;
  height: 360px;
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.widgetText {
  color: #000000;
  font-size: 22px;
  letter-spacing: 0px;
  text-align: left;
  text-decoration: none;
  font-family: monospace !important;
  font-weight: 500;
  text-wrap: nowrap;
  width: 44px;
  height: 29px;
  top: 30px;
  left: 30px;
  display: flex;
}

.rectangle__13-213 {
  top: 176px;
  left: 30px;
  position: absolute;
  display: flex;
  display: flex;
}

.rectangle__13-214 {
  top: 112px;
  left: 53px;
  position: absolute;
  display: flex;
  display: flex;
}

.rectangle__13-215 {
  top: 203px;
  left: 76px;
  position: absolute;
  display: flex;
  display: flex;
}

.rectangle__13-216 {
  top: 169px;
  left: 99px;
  position: absolute;
  display: flex;
  display: flex;
}

.rectangle__13-217 {
  top: 125px;
  left: 122px;
  position: absolute;
  display: flex;
  display: flex;
}

.rectangle__13-218 {
  top: 236px;
  left: 145px;
  position: absolute;
  display: flex;
  display: flex;
}

.rectangle__13-219 {
  top: 98px;
  left: 168px;
  position: absolute;
  display: flex;
  display: flex;
}

.rectangle__13-220 {
  top: 145px;
  left: 191px;
  position: absolute;
  display: flex;
  display: flex;
}

.rectangle__13-221 {
  top: 185px;
  left: 214px;
  position: absolute;
  display: flex;
  display: flex;
}

.rectangle__13-222 {
  top: 123px;
  left: 237px;
  position: absolute;
  display: flex;
  display: flex;
}

.rectangle__13-223 {
  top: 205px;
  left: 260px;
  position: absolute;
  display: flex;
  display: flex;
}

.rectangle__13-224 {
  top: 108px;
  left: 283px;
  position: absolute;
  display: flex;
  display: flex;
}
