.statistics---67-__13-168 {
  box-sizing: border-box;
  border-radius: 0px;
  background-color: #ffffff;
  width: 126px;
  height: 126px;
  position: relative;
}
.sharts---charts-1__13-169 {
  box-sizing: border-box;
  border-radius: 0px;
  background-color: #ffffff;
  width: 126px;
  height: 126px;
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  position: relative;
}
.oval__13-171 {
  top: 126px;
  left: 17.783836364746094px;
  position: absolute;
  display: flex;
  display: flex;
}

.text-67-__13-172 {
  color: #000000;
  font-size: 20px;
  letter-spacing: 0px;
  text-align: center;
  text-decoration: none;
  font-family: DM Sans;
  font-weight: 400;
  text-wrap: nowrap;
  width: 39px;
  height: 26px;
  top: 50px;
  left: 44px;
  position: absolute;
  display: flex;
}
