<div class="elements---widgets---widget-16__13-67">
  <div class="card-1__13-68">
    <app-bgbg></app-bgbg>
    <div class="group__13-70">
      <span class="text-01__13-71">01</span>
      <span class="text-02__13-72">02</span>
      <span class="text-03__13-73">03</span>
      <span class="text-04__13-74">04</span>
      <span class="text-05__13-75">05</span>
      <span class="text-06__13-76">06</span>
      <span class="text-07__13-77">07</span>
      <span class="text-08__13-78">08</span>
      <span class="text-09__13-79">09</span>
      <span class="text-10__13-80">10</span>
      <span class="text-11__13-81">11</span>
      <span class="text-12__13-82">12</span>
    </div>
    <div class="group__13-83">
      <span class="text-0__13-84">0</span>
      <span class="text-100__13-85">100</span>
      <span class="text-200__13-86">200</span>
      <span class="text-300__13-87">300</span>
      <span class="text-400__13-88">400</span>
    </div>
    <div class="lines__13-89">
      <div class="line__13-90">
        <app-elements-line-vertical></app-elements-line-vertical>
        <app-elements-line-vertical></app-elements-line-vertical>
        <app-elements-line-vertical></app-elements-line-vertical>
      </div>
      <div class="line__13-94">
        <app-elements-line-vertical></app-elements-line-vertical>
        <app-elements-line-vertical></app-elements-line-vertical>
        <app-elements-line-vertical></app-elements-line-vertical>
      </div>
      <div class="line__13-98">
        <app-elements-line-vertical></app-elements-line-vertical>
        <app-elements-line-vertical></app-elements-line-vertical>
        <app-elements-line-vertical></app-elements-line-vertical>
      </div>
      <div class="line__13-102">
        <app-elements-line-vertical></app-elements-line-vertical>
        <app-elements-line-vertical></app-elements-line-vertical>
        <app-elements-line-vertical></app-elements-line-vertical>
      </div>
      <div class="line__13-106">
        <app-elements-line-vertical></app-elements-line-vertical>
        <app-elements-line-vertical></app-elements-line-vertical>
        <app-elements-line-vertical></app-elements-line-vertical>
      </div>
      <div class="line__13-110">
        <app-elements-line-vertical></app-elements-line-vertical>
        <app-elements-line-vertical></app-elements-line-vertical>
        <app-elements-line-vertical></app-elements-line-vertical>
      </div>
      <div class="line__13-114">
        <app-elements-line-vertical></app-elements-line-vertical>
        <app-elements-line-vertical></app-elements-line-vertical>
        <app-elements-line-vertical></app-elements-line-vertical>
      </div>
      <div class="line__13-118">
        <app-elements-line-vertical></app-elements-line-vertical>
        <app-elements-line-vertical></app-elements-line-vertical>
        <app-elements-line-vertical></app-elements-line-vertical>
      </div>
      <div class="line__13-122">
        <app-elements-line-vertical></app-elements-line-vertical>
        <app-elements-line-vertical></app-elements-line-vertical>
        <app-elements-line-vertical></app-elements-line-vertical>
      </div>
      <div class="line__13-126">
        <app-elements-line-vertical></app-elements-line-vertical>
        <app-elements-line-vertical></app-elements-line-vertical>
        <app-elements-line-vertical></app-elements-line-vertical>
      </div>
      <div class="line__13-130">
        <app-elements-line-vertical></app-elements-line-vertical>
        <app-elements-line-vertical></app-elements-line-vertical>
        <app-elements-line-vertical></app-elements-line-vertical>
      </div>
    </div>
    <div class="group__13-134">
      <app-elements-line-vertical></app-elements-line-vertical>
      <app-elements-line-vertical></app-elements-line-vertical>
      <app-elements-line-vertical></app-elements-line-vertical>
    </div>
  </div>
  <div class="group-2__13-138">
    <app-icons-more-horizontal></app-icons-more-horizontal>
    <app-elements-info></app-elements-info>
    <app-elements-info></app-elements-info>
    <app-elements-info></app-elements-info>
  </div>
</div>
