.elements---widgets---widget-16__13-67 {
  box-sizing: border-box;
  border-radius: 0px;
  background-color: #ffffff;
  width: 692px;
  height: 360px;
  position: relative;
}
.card-1__13-68 {
  width: 692px;
  height: 360px;
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
}
.group__13-70 {
  box-sizing: border-box;
  border-radius: 0px;
  background-color: #ffffff;
  width: 582px;
  height: 15px;
  position: relative;
}
.text-01__13-71 {
  color: #000000;
  font-size: 10px;
  letter-spacing: 0px;
  line-height: 15px;
  text-align: center;
  text-decoration: none;
  font-family: DM Sans;
  font-weight: 400;
  text-wrap: nowrap;
  width: 10px;
  height: 15px;
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
}

.text-02__13-72 {
  color: #000000;
  font-size: 10px;
  letter-spacing: 0px;
  line-height: 15px;
  text-align: center;
  text-decoration: none;
  font-family: DM Sans;
  font-weight: 400;
  text-wrap: nowrap;
  width: 13px;
  height: 15px;
  top: 0px;
  left: 50px;
  position: absolute;
  display: flex;
}

.text-03__13-73 {
  color: #000000;
  font-size: 10px;
  letter-spacing: 0px;
  line-height: 15px;
  text-align: center;
  text-decoration: none;
  font-family: DM Sans;
  font-weight: 400;
  text-wrap: nowrap;
  width: 13px;
  height: 15px;
  top: 0px;
  left: 102px;
  position: absolute;
  display: flex;
}

.text-04__13-74 {
  color: #000000;
  font-size: 10px;
  letter-spacing: 0px;
  line-height: 15px;
  text-align: center;
  text-decoration: none;
  font-family: DM Sans;
  font-weight: 400;
  text-wrap: nowrap;
  width: 13px;
  height: 15px;
  top: 0px;
  left: 154px;
  position: absolute;
  display: flex;
}

.text-05__13-75 {
  color: #000000;
  font-size: 10px;
  letter-spacing: 0px;
  line-height: 15px;
  text-align: center;
  text-decoration: none;
  font-family: DM Sans;
  font-weight: 400;
  text-wrap: nowrap;
  width: 14px;
  height: 15px;
  top: 0px;
  left: 205.5px;
  position: absolute;
  display: flex;
}

.text-06__13-76 {
  color: #000000;
  font-size: 10px;
  letter-spacing: 0px;
  line-height: 15px;
  text-align: center;
  text-decoration: none;
  font-family: DM Sans;
  font-weight: 400;
  text-wrap: nowrap;
  width: 14px;
  height: 15px;
  top: 0px;
  left: 257.5px;
  position: absolute;
  display: flex;
}

.text-07__13-77 {
  color: #000000;
  font-size: 10px;
  letter-spacing: 0px;
  line-height: 15px;
  text-align: center;
  text-decoration: none;
  font-family: DM Sans;
  font-weight: 400;
  text-wrap: nowrap;
  width: 13px;
  height: 15px;
  top: 0px;
  left: 310px;
  position: absolute;
  display: flex;
}

.text-08__13-78 {
  color: #000000;
  font-size: 10px;
  letter-spacing: 0px;
  line-height: 15px;
  text-align: center;
  text-decoration: none;
  font-family: DM Sans;
  font-weight: 400;
  text-wrap: nowrap;
  width: 14px;
  height: 15px;
  top: 0px;
  left: 361.5px;
  position: absolute;
  display: flex;
}

.text-09__13-79 {
  color: #000000;
  font-size: 10px;
  letter-spacing: 0px;
  line-height: 15px;
  text-align: center;
  text-decoration: none;
  font-family: DM Sans;
  font-weight: 400;
  text-wrap: nowrap;
  width: 14px;
  height: 15px;
  top: 0px;
  left: 413.5px;
  position: absolute;
  display: flex;
}

.text-10__13-80 {
  color: #000000;
  font-size: 10px;
  letter-spacing: 0px;
  line-height: 15px;
  text-align: center;
  text-decoration: none;
  font-family: DM Sans;
  font-weight: 400;
  text-wrap: nowrap;
  width: 10px;
  height: 15px;
  top: 0px;
  left: 467px;
  position: absolute;
  display: flex;
}

.text-11__13-81 {
  color: #000000;
  font-size: 10px;
  letter-spacing: 0px;
  line-height: 15px;
  text-align: center;
  text-decoration: none;
  font-family: DM Sans;
  font-weight: 400;
  text-wrap: nowrap;
  width: 7px;
  height: 15px;
  top: 0px;
  left: 521.5px;
  position: absolute;
  display: flex;
}

.text-12__13-82 {
  color: #000000;
  font-size: 10px;
  letter-spacing: 0px;
  line-height: 15px;
  text-align: center;
  text-decoration: none;
  font-family: DM Sans;
  font-weight: 400;
  text-wrap: nowrap;
  width: 9px;
  height: 15px;
  top: 0px;
  left: 572.5px;
  position: absolute;
  display: flex;
}

.group__13-83 {
  box-sizing: border-box;
  border-radius: 0px;
  background-color: #ffffff;
  width: 20px;
  height: 207px;
  position: relative;
}
.text-0__13-84 {
  color: #000000;
  font-size: 10px;
  letter-spacing: 0px;
  line-height: 15px;
  text-align: left;
  text-decoration: none;
  font-family: DM Sans;
  font-weight: 400;
  text-wrap: nowrap;
  width: 7px;
  height: 15px;
  top: 192px;
  left: 0px;
  position: absolute;
  display: flex;
}

.text-100__13-85 {
  color: #000000;
  font-size: 10px;
  letter-spacing: 0px;
  line-height: 15px;
  text-align: left;
  text-decoration: none;
  font-family: DM Sans;
  font-weight: 400;
  text-wrap: nowrap;
  width: 17px;
  height: 15px;
  top: 144px;
  left: 0px;
  position: absolute;
  display: flex;
}

.text-200__13-86 {
  color: #000000;
  font-size: 10px;
  letter-spacing: 0px;
  line-height: 15px;
  text-align: left;
  text-decoration: none;
  font-family: DM Sans;
  font-weight: 400;
  text-wrap: nowrap;
  width: 20px;
  height: 15px;
  top: 96px;
  left: 0px;
  position: absolute;
  display: flex;
}

.text-300__13-87 {
  color: #000000;
  font-size: 10px;
  letter-spacing: 0px;
  line-height: 15px;
  text-align: left;
  text-decoration: none;
  font-family: DM Sans;
  font-weight: 400;
  text-wrap: nowrap;
  width: 20px;
  height: 15px;
  top: 48px;
  left: 0px;
  position: absolute;
  display: flex;
}

.text-400__13-88 {
  color: #000000;
  font-size: 10px;
  letter-spacing: 0px;
  line-height: 15px;
  text-align: left;
  text-decoration: none;
  font-family: DM Sans;
  font-weight: 400;
  text-wrap: nowrap;
  width: 20px;
  height: 15px;
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
}

.lines__13-89 {
  width: 584px;
  height: 231px;
}
.line__13-90 {
  width: 12px;
  height: 214px;
}

.line__13-94 {
  width: 12px;
  height: 157px;
}

.line__13-98 {
  width: 12px;
  height: 177px;
}

.line__13-102 {
  width: 12px;
  height: 214px;
}

.line__13-106 {
  width: 12px;
  height: 157px;
}

.line__13-110 {
  width: 12px;
  height: 152px;
}

.line__13-114 {
  width: 12px;
  height: 192px;
}

.line__13-118 {
  width: 12px;
  height: 160px;
}

.line__13-122 {
  width: 12px;
  height: 184px;
}

.line__13-126 {
  width: 12px;
  height: 93px;
}

.line__13-130 {
  width: 12px;
  height: 231px;
}

.group__13-134 {
  width: 12px;
  height: 89px;
}

.group-2__13-138 {
  width: 632px;
  height: 24px;
  top: 30px;
  left: 30px;
  position: absolute;
  display: flex;
}
