.oval__13-173 {
  box-sizing: border-box;
  border-radius: 0px;
  background-color: #ffffff;
  width: 44px;
  height: 44px;
  position: relative;
}
.color__13-174 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}
