.menu {
  box-sizing: border-box;
  border-radius: 0px;
  background-color: #ffffff;
  width: 96px;
  height: 1000px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: space-around;
    align-items: center;
}
.bg__13-3 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}
