.menu__13-2 {
  box-sizing: border-box;
  border-radius: 0px;
  background-color: #ffffff;
  width: 96px;
  height: 1000px;
  position: relative;
}
.bg__13-3 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}
