<div class="menu__13-2">
  <div class="bg__13-3">
    <svg
      width="96"
      height="1000"
      viewBox="0 0 96 1000"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M0 0H76C87.0457 0 96 8.9543 96 20V980C96 991.046 87.0457 1000 76 1000H0V0Z"
        fill="white"
      />
    </svg>
  </div>
  <app-icons-settings-setting-1></app-icons-settings-setting-1>
  <app-icons-pie-chart></app-icons-pie-chart>
  <app-icons-fire></app-icons-fire>
  <app-icons-calendar></app-icons-calendar>
  <app-icons-image></app-icons-image>
  <app-icons-activity></app-icons-activity>
  <app-icons-cloud-download></app-icons-cloud-download>
  <app-icons-person-person></app-icons-person-person>
  <app-elements-line-gorizontal></app-elements-line-gorizontal>
  <app-logo></app-logo>
</div>
