.icons---plus---plus__13-189 {
  box-sizing: border-box;
  border-radius: 0px;
  width: 24px;
  height: 24px;
  position: relative;
}
.color__13-190 {
  top: 4px;
  left: 4px;
  position: absolute;
  display: flex;
  display: flex;
}
