.bg---bg__13-143 {
  box-sizing: border-box;
  border-radius: 0px;
  background-color: #ffffff;
  width: 394px;
  height: 294px;
  position: relative;
}
.color__13-144 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}
