<div class="elements---widgets---widget-7__13-225">
  <app-bgbg></app-bgbg>
  <div class="group-10__13-227">
    <div class="rectangle__13-228">
      <svg
        width="264"
        height="218"
        viewBox="0 0 264 218"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M264 0V218H0C0 218 69.4196 194.114 139.126 136.553C208.833 78.9919 264 0 264 0Z"
          fill="#DAD7FE"
        />
      </svg>
    </div>
    <div class="path__13-229">
      <svg
        width="266"
        height="220"
        viewBox="0 0 266 220"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M1 219C47.2797 203.076 93.6552 175.927 140.126 137.553C186.598 99.1789 228.222 53.6613 265 1V1"
          stroke="#4339F2"
          stroke-width="2"
          stroke-linecap="round"
        />
      </svg>
    </div>
  </div>
  <app-elements-info></app-elements-info>
  <app-elements-info></app-elements-info>
  <app-icons-more-horizontal></app-icons-more-horizontal>
  <span class="text-text__13-233">Text</span>
</div>
