.icons---settings---setting-1__13-14 {
  box-sizing: border-box;
  border-radius: 0px;
  width: 24px;
  height: 24px;
  position: relative;
}
.color__13-15 {
  top: 2.0000998973846436px;
  left: 1.998223066329956px;
  position: absolute;
  display: flex;
  display: flex;
}
.path__13-16 {
  display: flex;
}

.path__13-17 {
  display: flex;
}

.path__13-18 {
  display: flex;
}

.path__13-19 {
  display: flex;
}
