.logo__13-56 {
  box-sizing: border-box;
  border-radius: 0px;
  background-color: #ffffff;
  width: 36px;
  height: 36px;
  position: relative;
}
.craftwork-logo__13-57 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}
.logo__13-58 {
  display: flex;
}
.path__13-59 {
  display: flex;
}

.path__13-60 {
  display: flex;
}

.path__13-61 {
  display: flex;
}

.path__13-62 {
  display: flex;
}
