.icons---fire__13-25 {
  box-sizing: border-box;
  border-radius: 0px;
  width: 24px;
  height: 24px;
  position: relative;
}
.color__13-26 {
  top: 3.0075976848602295px;
  left: 4.006972312927246px;
  position: absolute;
  display: flex;
  display: flex;
}
.path__13-27 {
  display: flex;
}

.path__13-28 {
  display: flex;
}
