<div class="dashboard__13-779">
  <div class="menu__13-780">
    <app-menu></app-menu>
  </div>
  <div class="search__13-782">
    <app-icons-search></app-icons-search>
    <span class="text-search__13-784">Search</span>
  </div>
  <div class="statistics__13-785">
    <app-elements-widgets-widget-16></app-elements-widgets-widget-16>
    <app-elements-widgets-widget-14></app-elements-widgets-widget-14>
  </div>
  <div class="text__13-788">
    <span class="text-be-single-minded__13-789">Be single minded</span>
    <span class="text-every-large-design-c__13-790"
      >Every large design company whether it’s a multi-national branding</span
    >
  </div>
  <div class="users__13-791">
    <app-elements-user-photo></app-elements-user-photo>
    <app-elements-user-photo></app-elements-user-photo>
    <app-elements-user-photo></app-elements-user-photo>
    <app-oval></app-oval>
    <app-oval></app-oval>
    <app-icons-plus-plus></app-icons-plus-plus>
  </div>
  <app-elements-widgets-widget-9></app-elements-widgets-widget-9>
  <app-elements-widgets-widget-2></app-elements-widgets-widget-2>
  <app-elements-widgets-widget-7></app-elements-widgets-widget-7>
  <app-elements-widgets-widget-12></app-elements-widgets-widget-12>
</div>
