.dashboard__13-779 {
  box-sizing: border-box;
  border-radius: 0px;
  background-color: #f8f8f8;
  width: 1600px;
  height: 1000px;
  position: relative;
}
.menu__13-780 {
  width: 96px;
  height: 1000px;
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
}

.search__13-782 {
  box-sizing: border-box;
  border-radius: 0px;
  background-color: #ffffff;
  width: 77px;
  height: 24px;
  top: 26px;
  left: 136px;
  position: absolute;
  display: flex;
  position: relative;
}
.text-search__13-784 {
  color: #000000;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 20px;
  text-align: left;
  text-decoration: none;
  font-family: DM Sans;
  font-weight: 400;
  text-wrap: nowrap;
  width: 45px;
  height: 20px;
  top: 2px;
  left: 32px;
  position: absolute;
  display: flex;
}

.statistics__13-785 {
  width: 1424px;
  height: 360px;
  top: 600px;
  left: 136px;
  position: absolute;
  display: flex;
}

.text__13-788 {
  box-sizing: border-box;
  border-radius: 0px;
  background-color: #ffffff;
  width: 456px;
  height: 82px;
  top: 90px;
  left: 136px;
  position: absolute;
  display: flex;
  position: relative;
}
.text-be-single-minded__13-789 {
  color: #000000;
  font-size: 40px;
  letter-spacing: 0px;
  text-align: left;
  text-decoration: none;
  font-family: DM Sans;
  font-weight: 500;
  text-wrap: nowrap;
  width: 323px;
  height: 52px;
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
}

.text-every-large-design-c__13-790 {
  color: #000000;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 20px;
  text-align: left;
  text-decoration: none;
  font-family: DM Sans;
  font-weight: 400;
  text-wrap: wrap;
  width: 456px;
  height: 20px;
  top: 62px;
  left: 0px;
  position: absolute;
  display: flex;
}

.users__13-791 {
  width: 204px;
  height: 44px;
  top: 26px;
  left: 1356px;
  position: absolute;
  display: flex;
}
