.elements---line---vertical__13-145 {
  box-sizing: border-box;
  border-radius: 0px;
  background-color: #ffffff;
  width: 8px;
  height: 180px;
  position: relative;
}
.color__13-146 {
  top: 0px;
  left: 8px;
  position: absolute;
  display: flex;
  display: flex;
}
