<div class="elements---widgets---widget-14__13-155">
  <app-bgbg></app-bgbg>
  <span class="text-text__13-157"
    >Every large design company whether it’s a multi-national branding
    corporation or a regular down at heel tatty magazine publisher needs to fill
    holes in the workforce.</span
  >
  <app-statistics-67></app-statistics-67>
  <app-statistics-15></app-statistics-15>
  <app-statistics-46></app-statistics-46>
  <app-statistics-67></app-statistics-67>
  <app-elements-info></app-elements-info>
  <app-elements-info></app-elements-info>
  <app-elements-info></app-elements-info>
  <app-elements-info></app-elements-info>
  <app-icons-more-horizontal></app-icons-more-horizontal>
  <span class="text-title__13-167">Title</span>
</div>
