.icons---person---person__13-49 {
  box-sizing: border-box;
  border-radius: 0px;
  width: 24px;
  height: 24px;
  position: relative;
}
.color__13-50 {
  top: 2px;
  left: 4px;
  position: absolute;
  display: flex;
  display: flex;
}
.path__13-51 {
  display: flex;
}

.path__13-52 {
  display: flex;
}

.path__13-53 {
  display: flex;
}
