.elements---line---gorizontal__13-54 {
  box-sizing: border-box;
  border-radius: 0px;
  background-color: #ffffff;
  width: 180px;
  height: 8px;
  position: relative;
}
.color__13-55 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}
