.nav---global__2-264 {
    box-sizing: border-box;
    border-radius: 0px;
    background-color: #161617cc;
    width: auto;
    height: 44px;
    position: relative;
  }
  .list---item---link---apple---svg__2-265 {
    top: 0px;
    left: 470px;
    position: absolute;
    display: flex;
     
    box-sizing: border-box;
    display: flex;
  }
  .vector__2-266 {
    top: 12.250699996948242px;
    left: 0.5139999985694885px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .item---list---item---link---store---svg__2-267 {
    top: 0px;
    left: 519.1400146484375px;
    position: absolute;
    display: flex;
     
    box-sizing: border-box;
    display: flex;
  }
  .vector__2-268 {
    top: 17.34589958190918px;
    left: 0.8579000234603882px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .item---list---item---link---mac---svg__2-269 {
    top: 0px;
    left: 584.280029296875px;
    position: absolute;
    display: flex;
     
    box-sizing: border-box;
    display: flex;
  }
  .vector__2-270 {
    top: 17.54360008239746px;
    left: 0.8080999851226807px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .item---list---item---link---ipad---svg__2-271 {
    top: 0px;
    left: 642.4199829101562px;
    position: absolute;
    display: flex;
     
    box-sizing: border-box;
    display: flex;
  }
  .vector__2-272 {
    top: 17.05820083618164px;
    left: 0.784500002861023px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .item---list---item---link---iphone---svg__2-273 {
    top: 0px;
    left: 701.5599975585938px;
    position: absolute;
    display: flex;
     
    box-sizing: border-box;
    display: flex;
  }
  .vector__2-274 {
    top: 17.058300018310547px;
    left: 0.7828999757766724px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .item---list---item---link---watch---svg__2-275 {
    top: 0px;
    left: 774.7000122070312px;
    position: absolute;
    display: flex;
     
    box-sizing: border-box;
    display: flex;
  }
  .vector__2-276 {
    top: 17.175800323486328px;
    left: 0.7208999991416931px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .item---list---item---link---vision---svg__2-277 {
    top: 0px;
    left: 844.8400268554688px;
    position: absolute;
    display: flex;
     
    box-sizing: border-box;
    display: flex;
  }
  .en-us-globalnav-links-vision-image-large__2-278 {
    width: 34px;
    height: 44px;
    top: 0px;
    left: 0px;
    position: absolute;
    display: flex;
  }
  .box-__2-279 {
    display: flex;
  }
  
  .art-__2-280 {
    display: flex;
  }
  
  .item---list---item---link---airpods---svg__2-281 {
    top: 0px;
    left: 913.97998046875px;
    position: absolute;
    display: flex;
     
    box-sizing: border-box;
    display: flex;
  }
  .vector__2-282 {
    top: 17.0585994720459px;
    left: 0.3433000147342682px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .item---list---item---link---tv-and-home---svg__2-283 {
    top: 0px;
    left: 992.1300048828125px;
    position: absolute;
    display: flex;
     
    box-sizing: border-box;
    display: flex;
  }
  .vector__2-284 {
    top: 17.345600128173828px;
    left: 1.6509000062942505px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .item---list---item---link---entertainment---svg__2-285 {
    top: 0px;
    left: 1092.27001953125px;
    position: absolute;
    display: flex;
     
    box-sizing: border-box;
    display: flex;
  }
  .vector__2-286 {
    top: 17px;
    left: 0px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .item---list---item---link---accessories---svg__2-287 {
    top: 0px;
    left: 1204.4100341796875px;
    position: absolute;
    display: flex;
     
    box-sizing: border-box;
    display: flex;
  }
  .vector__2-288 {
    top: 17.049999237060547px;
    left: 0.3400000035762787px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .item---list---item---link---support---svg__2-289 {
    top: 0px;
    left: 1306.550048828125px;
    position: absolute;
    display: flex;
     
    box-sizing: border-box;
    display: flex;
  }
  .vector__2-290 {
    top: 17.330699920654297px;
    left: 0.2736000120639801px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .list---item---button---search-apple-com---svg__2-291 {
    top: 0px;
    left: 1385.68994140625px;
    position: absolute;
    display: flex;
     
    box-sizing: border-box;
    display: flex;
  }
  .vector__2-292 {
    top: 14.449999809265137px;
    left: 0.44999998807907104px;
    position: absolute;
    display: flex;
    display: flex;
  }
  
  .list---item---button---shopping-bag---svg__2-293 {
    top: 0px;
    left: 1435.8299560546875px;
    position: absolute;
    display: flex;
     
    box-sizing: border-box;
    display: flex;
  }
  .vector__2-294 {
    top: 13.06350040435791px;
    left: 0.5299999713897705px;
    position: absolute;
    display: flex;
    display: flex;
  }
  