.elements---user---photo__13-187 {
  box-sizing: border-box;
  border-radius: 0px;
  background-color: #ffffff;
  width: 44px;
  height: 44px;
  position: relative;
}
.photo__13-188 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}
