.elements---widgets---widget-9 {
  box-sizing: border-box;
  border-radius: 0px;
  background-color: #ffffff;
  width: 326px;
  height: 360px;
  position: relative;
}
.group-3__13-196 {
  top: 70px;
  left: 66px;
  position: absolute;
  display: flex;
  display: flex;
}
.fill__13-197 {
  display: flex;
}
.path__13-198 {
  display: flex;
}

.path__13-199 {
  display: flex;
}

.fill__13-200 {
  display: flex;
}
.path__13-201 {
  display: flex;
}

.path__13-202 {
  display: flex;
}

.fill__13-203 {
  display: flex;
}
.path__13-204 {
  display: flex;
}

.path__13-205 {
  display: flex;
}

.text-text__13-207 {
  color: #000000;
  font-size: 22px;
  letter-spacing: 0px;
  text-align: left;
  text-decoration: none;
  font-family: DM Sans;
  font-weight: 500;
  text-wrap: nowrap;
  width: 44px;
  height: 29px;
  top: 30px;
  left: 30px;
  position: absolute;
  display: flex;
}
