.icons---cloud---download__13-45 {
  box-sizing: border-box;
  border-radius: 0px;
  width: 24px;
  height: 24px;
  position: relative;
}
.color__13-46 {
  top: 2.9999001026153564px;
  left: 1.9997999668121338px;
  position: absolute;
  display: flex;
  display: flex;
}
.fill-301__13-47 {
  display: flex;
}

.fill-303__13-48 {
  display: flex;
}
