.statistics---15-__13-175 {
  box-sizing: border-box;
  border-radius: 0px;
  background-color: #ffffff;
  width: 126px;
  height: 126px;
  position: relative;
}
.sharts---15-__13-176 {
  box-sizing: border-box;
  border-radius: 0px;
  background-color: #ffffff;
  width: 126px;
  height: 126px;
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  position: relative;
}
.oval__13-177 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}
.color__13-178 {
  display: flex;
}

.text-15-__13-179 {
  color: #000000;
  font-size: 20px;
  letter-spacing: 0px;
  text-align: center;
  text-decoration: none;
  font-family: DM Sans;
  font-weight: 400;
  text-wrap: nowrap;
  width: 34px;
  height: 26px;
  top: 50px;
  left: 46px;
  position: absolute;
  display: flex;
}

.oval__13-180 {
  top: 67.21385955810547px;
  left: 58.42752456665039px;
  position: absolute;
  display: flex;
  display: flex;
}
